 /* humberger.simple1================================================ */
 #header #navi {
  @include mq(tab){
      transition: all .6s;
      overflow-y: auto;
      padding-top: 40px;
      width: 300px;
      height: 100vh;
      z-index: 200;
      top: 0;
      right: -320px;
      background-color: #fff;
      position: fixed;
    }
  }
  
  #header .nav_btn {
      width: 44px;
      height: 44px;
      z-index: 300;
      top: 7px;
      right: 7px;
      cursor: pointer;
      position: absolute;
  }
  
  .hamburger_line {
  @include mq(tab){
      transition: all .6s;
      width: 34px;
      height: 2px;
      left: 5px;
      background-color: #000;
      position: absolute;
    }
  }
  
  .hamburger_line1 { top: 10px; }
  .hamburger_line2 { top: 21px; }
  .hamburger_line3 { top: 32px; }
  
  .nav_bg {
    
      opacity: 0;
      transition: all .6s;
      width: 100vw;
      height: 100vh;
      z-index: 100;
      top: 0;
      left: 0;
      visibility: hidden;
      background-color: #000;
      cursor: pointer;
      position: fixed;
    
  }
  
  /* 表示された時用のCSS */
  .nav_open #header #navi { right: 0; }
  
  .nav_open .nav_bg {
    opacity: .8;
    visibility: visible;
  }
  
  .nav_open .hamburger_line1 {
    transform: rotate(45deg);
    top: 20px;
  }
  
  .nav_open .hamburger_line2 {
    width: 0;
    left: 50%;
  }
  
  .nav_open .hamburger_line3 {
    transform: rotate(-45deg);
    top: 20px;
  }